/* CSS styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #8e9eab, #eef2f3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#menu {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.input-field {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 200px;
}

.button:focus,
.input-field:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
