/* CSS styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://i.ytimg.com/vi/VH1C7xACJt4/maxresdefault.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shining-button {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #afafaf, #e3e3e3);
    color: #333;
    cursor: pointer;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: shine 3s infinite alternate ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s;
}

.shining-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}
