/* CSS styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://i.ytimg.com/vi/VH1C7xACJt4/maxresdefault.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #9c9c9c, #d1d1d1);
    color: white;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(45deg, #d1d1d1, #9c9c9c);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.button:focus {
    outline: none;
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
